<form [formGroup]="form">
    <div formGroupName="identity" class="col s12 white">
      <h2>Client Identity</h2>

      <label for="gender">Document type <span class="required">*</span></label>
      <select class="form-select" size="3" 
              formControlName="documentType" 
              aria-label="size 3 select example">
        <option value="passport">Passport</option>
        <option value="birth_certificate">Birth Certificate</option>
        <option value="driving_license">Driving license</option>
      </select>
      <div class="form-group">
        <label for="series">Series <span class="required">*</span></label>
        <input type="text" formControlName="series" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && f.series.errors }" />
        <div *ngIf="submitted && f.series.errors" class="invalid-feedback">
            <div *ngIf="f.series.errors.required">Series is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="number">Number <span class="required">*</span></label>
        <input type="text" formControlName="number" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
        <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
            <div *ngIf="f.number.errors.required">Number is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="issuedBy">Issued By <span class="required">*</span></label>
        <input type="text" formControlName="issuedBy" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.issuedBy.errors }" />
      </div>
      <div class="form-group">
        <label for="dateIssue">Date Issue <span class="required">*</span></label>
        <input type="text" formControlName="dateIssue" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dateIssue.errors }" />
      </div>
      <div class="form-group">
        <label for="file">File</label>
        <input type="file" formControlName="file" 
              class="form-control" accept="image/png, image/jpeg"/>
      </div>
    </div>
</form>