<form [formGroup]="form">

    <div formGroupName="address" class="col s12 white">
      <h2>Client Address</h2>
  
      <div class="form-group">
        <label for="index">Index <span class="required">*</span></label>
        <input type="text" formControlName="index" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && f.index.errors }" />
        <div *ngIf="submitted && f.index.errors" class="invalid-feedback">
            <div *ngIf="f.index.errors.required">Index is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country <span class="required">*</span></label>
        <input type="text" formControlName="country" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">Country is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="area">Country</label>
        <input type="text" formControlName="area" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.area.errors }" />
      </div>
      <label for="gender">City <span class="required">*</span></label>
      <select class="form-select" size="3" formControlName="city" aria-label="size 3 select example">
        <option value="london">London</option>
        <option value="ny">New York</option>
        <option value="paris">Paris</option>
      </select>
      <div class="form-group">
        <label for="area">Street</label>
        <input type="text" formControlName="street" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
      </div>
      <div class="form-group">
        <label for="area">House</label>
        <input type="text" formControlName="house" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.house.errors }" />
      </div>
  
      <button class="btn btn-primary" 
              (click)="fillClientAddress.emit($event)" 
              [disabled]="form.get('address').invalid">
        <app-button-arrow-icon></app-button-arrow-icon>
      </button>
    </div>
</form>