<ng-container *ngIf="clients?.length; else empty">
    <table class="table" >
        <thead>
          <tr class="table-light">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td></td>
            <td>{{client?.client?.name}}</td>
            <td>{{client?.client?.middleName}}</td>
            <td>{{client?.client?.lastName}}</td>
            <td>{{client?.address?.country}}</td>
            <td>{{client?.address?.city}}</td>
          </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #empty>No client is found!</ng-template>