.app-user {
    border: 1px solid #63509d;
    border-radius: 5px;
    border-bottom: none;

    &-list {
        padding: 10px;
        border-bottom: 1px solid #63509d;

        &:first-child {
            border-top: none;
        }
    }
}