<form [formGroup]="form">

  <div formGroupName="client" class="col s12 white">
    <h2>Client Info</h2>
    
    <div class="form-group">
      <label for="firstName">First Name <span class="required">*</span></label>
      <input type="text" formControlName="lastName" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name <span class="required">*</span></label>
      <input type="text" formControlName="name" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name <span class="required">*</span></label>
        <input type="text" formControlName="middleName" class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" formControlName="date" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
    </div> 
    <div class="form-group">
      <label for="phone">Phone <span class="required">*</span></label>
      <input type="text" formControlName="phone" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Phone is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" formControlName="gender" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
    </div>
    
    <label for="gender">Client group</label>
    <select class="form-select" size="3" formControlName="group" aria-label="size 3 select example">
      <option value="vip">VIP Clients</option>
      <option value="loyal">Loyal Client</option>
      <option value="new">New Clients</option>
    </select>
    <br>
    <label for="gender">Coordinator</label>
    <select class="form-select" size="2" formControlName="coordinator" aria-label="size 2 select example">
      <option value="jhones">Jhones</option>
      <option value="colinwood">Colinwood</option>
    </select>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="allowMesaage" id="smsDefault">
      <label class="form-check-label" for="smsDefault">
        Do not send SMS
      </label>
    </div>
    <button class="btn btn-primary" 
            (click)="fillClientInfo.emit($event)" 
            [disabled]="form.get('client').invalid">
      <app-button-arrow-icon></app-button-arrow-icon>
    </button>
  </div>
</form>