<div class="app-container">
  <div class="app-layout">
    <div class="app-content">
      <div class="app-header">
        <div class="app-row">
          <div class="app-logo">
            <h2>FINVERITY</h2>
          </div>
          <div class="app-menu">
            <span> <a routerLink="client-form/client" routerLinkActive="active-link">Registration</a> </span>
            <app-arrow-icon></app-arrow-icon>
            <span> <a routerLink="created-client" routerLinkActive="active-link">Created Users</a> </span> 
          </div>
        </div>
      </div>
      <div class="app-body">
        <div class="app-body-form">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
