.app {

    &-logo {
        h2 {
            font-size: 16px;
            line-height: 110%;
            margin: 10px 0;
        }
    }

    &-header {
        margin-bottom: 20px;
    }
    &-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    &-container {
      display: flex;
      flex-direction: column;
      min-width: col(4) - 17;
      background: #a9c0ff;
      min-height: 100vh;
    }

    &-layout {
        margin: 30px auto;
        background: #fff;
        width: auto;
        border-radius: 5px;
    }

    &-menu {
        color: #b3b3b3;
        display: flex;

        span {
            margin: 0 10px;
        }

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;

            &:focus {
                color: #6880bf;
            }

            &.active-link {
                font-weight: 600;
                color: #6880bf;
            }
        }
    }

    &-content {
        padding: 25px;
    }
}