<form [formGroup]="form" *ngIf="form" class="client-form">

    <ng-container *ngIf="router.url.includes('client-form/client')">
        <app-create-client-info 
            [form]="form" 
            (fillClientInfo)="fillClientInfo($event)"
        ></app-create-client-info>
    </ng-container>
    
    <ng-container *ngIf="router.url.includes('client-form/address')">
        <app-create-client-address 
            [form]="form" 
            (fillClientAddress)="fillClientAddress($event)">
        </app-create-client-address>
    </ng-container>

    <ng-container *ngIf="router.url.includes('client-form/identity')">
        <app-create-client-identity [form]="form"></app-create-client-identity>
        <button [disabled]="form.invalid" class="btn btn-success" (click)="submit($event)">Submit</button>
    </ng-container>
</form>